<nav>
  <div class="nav-wrapper">
    <img src="/assets/images/cards/PNG/aces.png" alt="Blackjack Logo" height="42" width="42" class="brand-logo">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Login</a></li>
      <li><a href="/index">Play Game</a></li>
      <li><a href="/users">Highscores</a></li>
      <li>
        <a href="#">{{user.username}}</a>
        <div id="credits" value="{{user.credits}}">{{user.credits}}</div>
      </li>

    </ul>
  </div>
</nav>
<div id="background">

  <div class="container" id="dealer">
    <h1 id='dealer-score'>Dealer: 0</h1>
  </div>
</div>


<div class="container">
  <div id="win-loss-alert">
  </div>
</div>

<div id="background">
  <div class="container" id="player">
    <h1>{{user.username}}: </h1>
    <h1 id="player-score">0</h1>
  </div>

  <div class="container" id="hit-stay">
    <a class="waves-effect waves-teal btn-large" id="hit">Hit</a>
    <a class="waves-effect waves-red btn-large" id="stay">Stay</a>
  </div>
  <h1 id="bet-amount">Bet Amount: 0</h1>
  <a class="btn btn-primary btn-sm" id="bet-10">Bet 10</a>
  <a class="btn btn-primary btn-sm" id="bet-20">Bet 20</a>
  <a class="btn btn-primary btn-sm" id="bet-50">Bet 50</a>
  <a class="btn btn-primary btn-sm" id="clear-bet">Clear Bet</a>


</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/bets.js"></script>
<script src="/js/login.js"></script>