<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project-Two</title>
</head>
<body>
        <div class="container" id ="dealer">
            <div class="d-card1" id ="dc1">   </div>
            <div class="d-card2" id ="dc2">   </div>
            <div class="d-card3" id ="dc3">   </div>
            <div class="d-card4" id ="dc4">   </div>  
            <div class="d-card5" id ="dc5">   </div>
        </div>

        <div class="container" id ="player">
            <div class="p-card1" id ="pc1">    </div>
            <div class="p-card2" id ="pc2">    </div>    
            <div class="p-card3" id ="pc3">    </div>
            <div class="p-card4" id ="pc4">    </div>
            <div class="p-card5" id ="pc5">    </div>
        </div>

        <div class="container" id ="hit-stay">
            <div class="hit" id ="hit">       </div>
            <div class="stay" id ="stay">     </div>
        </div>

</body>
</html>