<div id="login">

  <h1><strong>BlackJack User Login</strong> </h1><br>
 <h3> by WarriorDotJs </h3>

  <div class="login-box shadow">
   <form action="/login" method='post' class='login-form'>

      <input type="text" class="form-control" id="username" placeholder="">
              </div>

       <div class="form-group">
                <label for="">password</label>
                <input type="text" class="form-control" id="password" placeholder="">
              </div>

    <a href="/index" type="submit" class="btn btn-primary btn-md" id="add-btn">
                <span class="fa fa-fire"></span> Add to the Force </a>
   
   </form>

  </div>

   <div class="login-footer">


</div>
<script src="/js/login.js"></script>