<div class="container" id="login">

  {{!-- <h1><strong> BlackJack </strong> </h1><br>
  <h4> by WarriorDotJs </h4> --}}


  <div class="login-box shadow container">

    <h1 class="title-name">BlackJack</h1><br>

    <img src="/assets/images/cards/PNG/aces.png" class="front-img">

    <form action="/login" method='post' class='login-form'>

      <br><br>

      <i id='username-input-icon' class='icon-user'></i>
      <input id="username" autocomplete="off" placeholder="Username" class='dark' type="text" name="username">

      <i id='password-input-icon' class='icon-user'></i>
      <input id="password" autocomplete="off" placeholder="Password" class='dark' type="text" name="password">

      <br><br>
      <a href="/index" class="waves-effect waves-light btn-large" id="loginBtn"> Login </a>


      {{!-- <input type="submit" class='button large' value="Please, login to continue."> --}}

    </form>

  </div>

  <div class="login-footer">


  </div>
  <script src="/js/login.js"></script>