<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Login</a></li>
      <li><a href="/index">Play Game</a></li>
      <li><a href="/users">Highscores</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <h1 class="col s6">Ryan</h1>
    <h1 class="col s6">Ryan</h1>
  </div>
</div>