<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="login.handlebars">Login</a></li>
        <li><a href="index.handlebars">Play Game</a></li>
        <li><a href="users.handlebars">Highscores</a></li>
      </ul>
    </div>
  </nav>


<div = "container">
    <div class = "playerName"> </div>
         <row = "col-6-lg"> </row>
</div>    

<div = "container">
    <div class = "chipStack"> </div>
        <row ="col-6-lg"> </row>
</div>