<div = "container">
    <div class = "playerName"> </div>
         <row = "col-6-lg"> </row>
</div>    

<div = "container">
    <div class = "chipStack"> </div>
        <row ="col-6-lg"> </row>
</div>