<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Login</a></li>
      <li><a href="/index">Play Game</a></li>
      <li><a href="/users">Highscores</a></li>
    </ul>
  </div>
</nav>

<table class="responsive-table centered">
        <thead>
          <tr>
              <th>Player</th>
              <th>Chip Stack</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>""</td>
            <td>""</td>
        </tbody>
</table>
            