body{
  background-image:url("/assets/images/plain-background.jpeg");
  background-size: cover;
  color: rgb(43, 43, 43);
}

h3{
  text-align: center;
  margin-left: 38%; 
}

.container-users{
  background-image:url("/assets/images/poker-table-felt.png");
  background-size: cover;
  height: 500px;
  margin-top: 3%;
  margin-left: 150px;
  margin-right: 150px;
  border: solid;
  border-color: white;
  color: white;
}

.row{
  background-image:url("/assets/images/poker-table-felt.png");
  background-size: cover;
  color: white;
}

.brand-logo{
  width: 110px;
  height: 75px;
  margin-left: 10px;
}

.title-name{
  margin-top: 5%;
  padding-top: 5%;
}

.front-img{

  margin-left: 25%;
  width: 50%;
  height: 50%;

}

.list-group-item {
  line-height: 2.5;
}

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h4 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

form {
  margin-left: 10%;
  margin-right: 10%;
}
 
  .login-box {
    width: 35%;
    margin-left: 33%;
    margin-right: 33%;
    background-color: white;

  }

   #loginBtn {
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 10%;
  }

  a{
    color: black !important;
  }

  nav {
    background-color:white;
  }

  .nav-button{
    color: black;
  }

  /* Index.handlebars-------------------------------------- */

   #background{
    background-image:url("/assets/images/poker-table-felt.png");
    background-size: cover;
    height: 30%;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border: solid;
    border-color: white;
    color: white;
   }

   #hit-stay{
    margin: auto;
    margin-left: 36.5%;
   }

   #hit,#bet-10,#bet-20,#bet-50,#stay{
    background-color: white;
    color: black;
   }

   /* Styling for credits on  */
   

   
