body{
  background-image:url("/assets/images/plain-background.jpeg");
  background-size: cover;
  color: rgb(43, 43, 43);
}

.title-name{
  margin-top: 25%;
  padding-top: 10%;
}

.front-img{

  margin-left: 25%;
  width: 50%;
  height: 50%;

}

.list-group-item {
  line-height: 2.5;
}

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h4 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

form {
  margin-left: 10%;
  margin-right: 10%;
}
 
  .login-box {
    width: 35%;
    margin-left: 33%;
    margin-right: 33%;
    background-color: white;

  }

   #loginBtn {
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 10%;
  }

  /* Index.handlebars-------------------------------------- */

   #background{
    background-color: darkgreen;
    height: 30%;
    margin: 50px;
    border: solid;
    border-color: gray;
   }

   #hit-stay{
    margin: auto;
    margin-left: 43%;
   }